
body {
    background: url("../../assets/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg") #000814d0;
    background-size: cover;
    background-blend-mode: multiply;
}

nav {
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2.5vh;
    border-bottom: 2px dotted white;
}

#title-review {
    color: whitesmoke;
    padding-right: 5vw;
    font-size: 2vw;
}

.location-link {
    margin-top: 1vh;
    margin-right: 1vw;
    cursor: pointer;
    text-decoration: none;
    background-color: #326272;
    color: white;
    border: none;
    font-size: 1.5vw;
    padding: 1.5vh 6vw 1.5vh 6vw;
    transition-duration: 0.4s;
}

.location-link:hover { background-color: #99c1de; }
/*
.location-link span {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}*/

/* Restaurant Navbar CSS */
h3{
    text-decoration: none;
}

.restaurant-list {
    padding-left: 1vw;
}
#restaurant-header {
    font-size: 2vw;
    color: white;
    margin-top: 1vh;
    margin-bottom: 0;
}

#restaurant-links {
    border-right: 4px solid white;
    width: 15vw;
    display: grid;
    grid-template-rows: auto;
    text-decoration: none;
}

.restaurant-link {
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
}

.hide-button {
    background-color: #326272;
    color: white;
    border: none;
    padding: 1vh 2vw 1vh 2vw;
    margin-right: 5px;
    margin-left: 1vw;
    transition-duration: 0.4s;
}
  
.hide-button:hover {
    background-color: #adc178;
}

.next-review-button {
    background-color: #326272;
    color: white;
    border: none;
    padding: 1vh 2vw 1vh 2vw;
    margin-right: 5px;
    transition-duration: 0.4s;
}
  
.next-review-button:hover {
    background-color: #adc178;
}

/* Restaurant header CSS */

/* Restaurant Info */
#container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 100vw;
    height: 80vh;
}

.general-data {
    text-align: center;
    color: white;
    padding-left: 1vw;
}


#nested-restaurant-name {
    color: #ffc100;
    font-size: 3vw;
    margin-top: 0;
    margin-bottom: 0;
}

#restaurant-description {
    color: #ffeaae;
    font-weight: normal;
    line-height: 1vh;
    font-size: 1.5vw;
}

#restaurant-hours {
    color: #ffeaae;
    font-size: 1.3vw;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
}

#load-reviews {
    background-color: #326272;
    color: white;
    font-size: 1vw;
    margin-top: 0.5vh;
    padding-top: 0.5vh;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    padding-bottom: 0.5vh;
    border: none;
    transition: 0.4s;
}

#load-reviews:hover {
    background-color: #5fa8d3;
}

/* Review CSS */
.review-description {
    color: white;
    text-align: center;
}

.overall-rating {
    margin-top: 0.5vh;
    font-size: 1.5vw;
}

.individual-rating {
    font-size: 1.3vw;
}

.restaurant-data {
    padding-left: 20vw;
    padding-right: 20vw;
}

