@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

#reviews {
    margin: 0;
    padding-top: 0.5%;
    text-align: center;
    color: whitesmoke;
    font-family: 'B612', sans-serif;
}

navbar {
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'B612', sans-serif;
}

.location-link {
    cursor: pointer;
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    border: none;
    font-size: medium;
    padding: 1vh 10vw 1vh 10vw;
    transition-duration: 0.4s;
}
  
.location-link:hover { background-color: tomato; }
  
.location-link span {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
/*
.location-link span:after {
    text-decoration: none;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.location-link:hover span {
    text-decoration: none;
    padding-right: 25px;
}
  
.location-link:hover span:after {
    text-decoration: none;
    opacity: 1;
    right: 0;
}

*/